# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
out/

# Visual Studio Code related
.vscode/
!.vscode/extensions.json
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/coverage/
.packages

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/src/main/res/raw/google_services.json

# Keystore files
*.keystore
*.jks
key.properties

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/DerivedData/
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.moved-aside
**/ios/*.pbxuser
**/ios/*.perspectivev3
**/ios/userdata/

# macOS related
**/macos/Pods/
**/macos/Flutter/ephemeral/
**/macos/GeneratedPluginRegistrant.swift

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Build artifacts
*.apk
*.aab
*.ipa
*.app

# Environment variables
.env*
